// PRIMARY COLORS 
$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);

// SECONDARY COLLORS
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGray: hsl(0, 0%, 86%);
$smokeGray: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);